
.img-user {
	margin: 0 auto;
}

.img-thumbnail {
	border-radius: 50% !important;
}
button a {
	display: block;
	text-decoration: none !important;
	color: white;
}

button a:hover {
	color: white;
}

#form-login {
	padding: 20px;
	border-radius: 3px;
}

footer p {
	text-align: center;
}

@media (max-width: 600px) {
	body {
		padding: 5px;
		text-align: center;
	}
}
